<div class="background-container">
  <div class="container mt-5 pt-5 row" style="height: 100vh; overflow: hidden">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-6 col-lg-6 mt-5">
        <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="firstName"
              formControlName="firstName"
              placeholder="First Name"
            />
          </div>

          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="lastName"
              formControlName="lastName"
              placeholder="Last Name"
            />
          </div>

          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="Email"
            />
          </div>

          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="phoneNumber"
              formControlName="phoneNumber"
              placeholder="Phone Number"
            />
          </div>

          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Password"
            />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
