.background-container {
  background-image: url("../../assets/images/EveryDayLife.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin: 10px;
  width: 400px; /* Adjust the width to your preference */
  margin: 10px;
}

.auth-container {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #0652dd;
}
