
.icon-display {
  transform: scale(2.5);
  background-color: #0652dd;
}
.title-searching {
  font-size: 18px;
  font-weight: lighter;
  color: black;
  line-height: 1.5;
}

.title-searching span {
  color: #0652dd;
  font-style: italic;
  font-weight: bolder;
  text-decoration: underline;
}

.cards mat-card {
  border-radius: 15px;
  border: 1px solid #000;
  background: #f5f5f5;
}

.icon-svg {
  max-height: 40px;
  width: auto; /* Ensure that the width adjusts proportionally to the height */
}

mat-card-content button {
  font-weight: 500;
}

You-can-do {
  font-size: 49px !important;
}

.Projects .card-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.Everyday-life p {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  margin-left: 3rem;
}

.Projects mat-divider {
  border-top-width: 2px !important;
}

.Everyday-life .img-container {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
