<!-- YourComponent.html -->

<div class="background-container">
  <ng-container *ngIf="isSignUpRoute; else routeroutlet">
    <div class="auth-container">
      <p>Choose an option:</p>
      <button class="btn btn-success" (click)="navigateToBecomeASeller()">
        Become a Seller
      </button>
      <button class="btn btn-success" (click)="navigateToBecomeAClient()">
        Become a Client
      </button>
    </div>
  </ng-container>

  <ng-template #routeroutlet>
    <router-outlet></router-outlet>
  </ng-template>
</div>
