@media (max-width: 600px) {
  .svg-image {
    display: none;
  }
}




.title {
  padding: 40px;
}
.title h1{
  font-size: 40px;
  text-align:start;
  line-height: 1.2;
}

.input-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.input-full-width {
  width: 75%;
}
