.svg-image {
  width: 100%; /* Set the width of your container */
  height: auto; /* Set the height of your container */
  overflow: hidden; /* Hide any overflow beyond the container */
}
.fill-svg {
  width: 100%;
  height: 100%;
}
.container {
  background-color: white !important;
}

.icon-svg {
  max-height: 40px;
  width: auto; /* Ensure that the width adjusts proportionally to the height */
}

.Projects .card-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.Projects mat-divider {
  border-top-width: 2px !important;
}

